<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LyriQuery</title>
</head>

<header>
    <h1>LyriQuery</h1>
    <h2>A Crowd-Sourced Database of Lyrics</h2>
</header>
<main>