<%- include("partials/header.ejs") %>

    <form action="/search" method="POST" id="searchBar">
        <input type="text" id="search" name="search" placeholder="Search" autocomplete="off"/>
        <input type="submit" value="Search">
    </form>
    <p id="searchNote">Searches are limited to 20 results, so be as specific as possible!</p>


